@page
@model scoreapp.Pages.DashboardModel
@{
    ViewData["title"] = "Dashboard";
}


<div class="container">

    <!-- Section -->
    <section>

        <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Servicios</h6>
        <h3 class="font-weight-bold text-center dark-grey-text pb-2">Todos los servicios</h3>
        <hr class="w-header my-4">

        <div class="row">

            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card text-center">
                    <div class="card-body" style="height:328px;">
                        <p class="mt-4 pt-2"><i class="fas fa-cogs fa-4x grey-text"></i></p>
                        <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="/081663df-1745-485f-a8d4-6f9bb39f0042" target="_blank">Configuraciones</a></h5>
                        <p class="text-muted mb-4">Configuraciones de servicios estáticos</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card text-center">
                    <div class="card-body" style="height:328px;">
                        <p class="mt-4 pt-2"><i class="fas fa-user-shield fa-4x grey-text"></i></p>
                        <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="/7e793c11-acc7-4cf5-8592-bc2025f529c7" target="_blank">Roles</a></h5>
                        <p class="text-muted mb-4">Administración de Roles para usuarios</p>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card text-center">
                    <div class="card-body" style="height:328px;">
                        <p class="mt-4 pt-2"><i class="fas fa-users fa-4x grey-text"></i></p>
                        <h5 class="font-weight-normal my-4 py-2">
                            <a class="dark-grey-text" href="/cfb24a38-05ba-4155-8727-a1e3301af9f2" target="_blank">Usuarios</a>
                        </h5>
                        <p class="text-muted mb-4">Administración de nuevos usuarios</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card text-center">
                    <div class="card-body" style="height:328px;">
                        <p class="mt-4 pt-2"><i class="fas fa-hand-holding-usd fa-4x grey-text"></i></p>
                        <h5 class="font-weight-normal my-4 py-2"><a href="/6b4ad353-c211-4849-a8ba-a70e4bdfdb0c" class="dark-grey-text" target="_blank">Solicitudes</a></h5>
                        <p class="text-muted mb-4">Trabajar con las solicitudes de préstamos realizadas por los clientes</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card text-center">
                    <div class="card-body" style="height:328px;">
                        <p class="mt-4 pt-2"><i class="fas fa-coins fa-4x grey-text"></i></p>
                        <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="/9e4256db-5990-4151-a88e-e1d490482410" target="_blank">Variables y Puntajes</a></h5>
                        <p class="text-muted mb-4">Creación y Calificación de variables</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card text-center">
                    <div class="card-body" style="height:328px;">
                        <p class="mt-4 pt-2"><i class="fas fa-plus fa-4x grey-text"></i></p>
                        <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="/" target="_blank">Solicitud</a></h5>
                        <p class="text-muted mb-4">Crear una nueva solicitud</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card text-center">
                    <div class="card-body" style="height:328px;">
                        <p class="mt-4 pt-2"><i class="fas fa-tachometer-alt fa-4x grey-text"></i></p>
                        <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="/13a34cf3-70da-49a2-8e69-9fec42e0e3db" target="_blank">Tablero de Solicitudes</a></h5>
                        <p class="text-muted mb-4">Monitoreo de solicitudes trabajadas</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xl-3">
                <div class="card text-center">
                    <div class="card-body" style="height:328px;">
                        <p class="mt-4 pt-2"><i class="fas fa-file-excel fa-4x grey-text"></i></p>
                        <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="/9e272f15-93a6-4511-9675-bba2bd832695" target="_blank">Reportes</a></h5>
                        <p class="text-muted mb-4">Creación de reportes</p>
                    </div>
                </div>
            </div>

        </div>

    </section>

</div>