@page
@model scoreapp.Pages.LoginModel
@{
    Layout = "";
}
<title>ScoreApp Login</title>
<link rel="icon" type="image/x-icon" href="~/images/alaverLogo.ico">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
<link href="~/lib/fontawesome/fontawesome.css" rel="stylesheet" />
<link href="~/lib/mdbootstrap/mdbootstrap.css" rel="stylesheet" />
<link href="~/lib/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="container my-5 z-depth-1">



    <section class="dark-grey-text p-5">


        <div class="row">


            <div class="col-md-7 mb-4 mb-md-0">

                <div class="view">
                    <img src="~/images/Secure login-rafiki.svg" class="img-fluid" alt="smaple image">
                </div>


            </div>
            <div class="col-md-5 mb-lg-0 mb-4">


                <form class="text-center" method="post">

                    <h2 class="text-left text-black-50">
                        <img src="~/images/alaverLogo.png" />
                        Score App Alaver
                    </h2>

                    <p class="text-justify mb-4 pb-2">Ingrese solo utilizando las credenciales del dominio de Alaver</p>

                    

                    <!-- Name -->
                    <input type="text" asp-for="Username" class="form-control mb-4" placeholder="Usuario de dominio">

                    <!-- Email -->
                    <input type="password" asp-for="Password" class="form-control mb-4" placeholder="Contraseña de dominio">

                    <!-- Sign in button -->
                    <button class="btn btn-info btn-block" type="submit"><i class="fas fa-sign-in-alt mr-1"></i>Ingresar</button>


                </form>
                <span class="text-muted mb-4 pb-2">Todo lo que está intentando hacer en esta página es monitoreado.</span>
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>


        </div>


    </section>



</div>

<script src="~/lib/mdbootstrap/mdbootstrap.js"></script>